.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    font-size: 24px;
}

.footer-icons a {
    color: #fff;
    margin-right: 10px;
}

.footer-info {
    margin-top: 10px;
    font-size: 14px;
}

.footer-extra-info {
    margin-top: 20px;
    font-size: 14px;
}